$themeColor: #173F5F;
$shadowColor: rgba(193, 193, 193, 0.2);
$shadowColor2: rgba(193, 193, 193, 0.4);
$shadowColor3: rgba(193, 193, 193, 0.6);

@mixin bordered {
    box-shadow: 0px 2px 10px 2px $shadowColor;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.168)
}

.add-form {
    padding: 3rem 5rem;
    display: grid;
    grid-template-columns: 35vW;
    grid-template-rows: auto;
    grid-template-areas:
        "details"
        "footer";
    column-gap: 1rem;
    row-gap: 1rem;
    margin: auto;
    align-self: center;

    div {
        grid-area: details;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .details-zone {
        @include bordered;
        grid-area: details;

        p {

            font-size: smaller;
            color: gray;
        }
    }

    .footer-zone {
        @include bordered;
        grid-area: footer;
        align-items: flex-end;
        padding: 1rem;
        margin: 0;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: none;
        border: none;
        padding: 0;
    }

    .input-group-student {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
        box-shadow: none;
        border: none;
        padding: 0;
        width: 100%;
    }

    input,
    select {
        border: none;
        border-radius: 5px;
        box-shadow: 0px 1px 5px 1px $shadowColor2;
        width: 20rem;
        padding: 0.5rem;
        margin: 0.2rem 0 1rem 0;
    }

    input[type="submit"] {
        width: max-content;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 0;
        background-color: $themeColor;
        color: white;
    }

    textarea {
        border: none;
        border-radius: 5px;
        box-shadow: 0px 1px 5px 1px $shadowColor2;
        width: 20rem;
        height: 7rem;
        padding: 0.5rem;
        margin: 0.2rem 0 1rem 0;
        resize: none;
    }

    label {
        margin: 0.2rem 0;
    }

    h2 {
        margin-bottom: 2rem;
        color: $themeColor;
    }


}

@media screen and (max-width: 768px) {
    .add-form {
        width: 80vw;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0.5rem;
    }

    .details-zone {
        padding: 0.5rem;

        input,
        textarea,
        select {
            width: 65vw;
        }

        p {
            padding: 0rem 0rem;
            margin: 0;
        }

    }
}

@media screen and (min-width: 768px) {
    .add-form {
        .details-zone {
            p {
                padding: 0 4rem;
            }
        }
    }
}