$themeColor: #FF8402;
$shadowColor: rgba(255, 232, 207, 0.2);
$shadowColor2: rgba(255, 232, 207, 0.4);
$shadowColor3: rgba(193, 193, 193, 0.6);

@mixin shadow {}

.menuButtonContainer {
    padding: 0.5rem 1rem;
    width: max-content;
}

.menuButton {
    background-color: white;
    color: $themeColor;
    border: 2px solid $themeColor;
    border-radius: 10px;
    padding: 0.4rem 1rem;
    width: 10rem;
    box-shadow: 0px 2px 15px 2px $shadowColor;
    margin: 0.3rem;
    font-size: 1rem;
}

.menuButton:hover {
    background-color: $themeColor;
    color: white;
}

.addButton {
    background-color: white;
    color: #000000;
    border: 2px solid white;
    border-radius: 10px;
    width: 170px;
    padding: 0.5rem;
    box-shadow: 0px 2px 10px 2px $shadowColor;
}

.addButton:hover {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px $shadowColor2;
}

.menu {
    padding: 7rem 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 1px 10px 1px $shadowColor3;
    height: 100vh;
}

.header {
    background-color: #FF8402;
    height: 50px;
}

.dash-title {
    font-size: 1.1rem;
    margin: 1rem 0 2rem 0;
}

@media screen and (max-width: 768px) {
    .menu {
        height: fit-content;
    }

    .menuButton {
        padding: 0.1rem;
        box-shadow: none;
        margin: 0.1rem;
        border: none;
    }

    .menuButton:hover {
        background-color: white;
        color: $themeColor;
    }

    .dash-title {
        font-size: 1rem;
        margin: 1rem 0;
    }
}

@media screen and (max-width: 980px) {
    .menuButton {
        width: 8rem;
    }
}