$themeColor: #FF8402;
$shadowColor: rgba(255, 232, 207, 0.2);
$shadowColor2: rgba(255, 232, 207, 0.4);

.menuButton {
    background-color: white;
    color: $themeColor;
    border: 2px solid $themeColor;
    border-radius: 10px;
    width: 170px;
    padding: 10px;
    box-shadow: 0px 2px 15px 2px $shadowColor;
}

.menuButton:hover {
    background-color: $themeColor;
    color: white;
}

.addButton {
    background-color: white;
    color: #000000;
    border: 2px solid white;
    border-radius: 10px;
    width: 170px;
    padding: 10px;
    box-shadow: 0px 2px 10px 2px $shadowColor;
}

.addButton:hover {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px $shadowColor2;
}