$themeColor: #FF8402;
$shadowColor: rgba(193, 193, 193, 0.2);
$shadowColor2: rgba(193, 193, 193, 0.4);
$shadowColor3: rgba(193, 193, 193, 0.6);

@mixin bordered {
    box-shadow: 0px 2px 10px 2px $shadowColor;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.168)
}

.join-container {
    display: grid;
    grid-template-columns: 25vw;
    grid-template-rows: auto auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-areas:
        "user-type form";
    align-self: center;
    margin-top: 7rem;

    .types {
        grid-area: user-type;
        display: flex;
        justify-content: space-between;
        //padding: 0;
        width: 100%;
        height: fit-content;
        margin-bottom: 0;
        align-self: flex-start;
    }

    .descriptions {
        @include bordered;
        grid-area: user-type;
        display: flex;
        align-self: center;
        padding: 1rem;
        flex-flow: column;
        width: 100%;

        h3 {
            font-size: 1.5rem;
            color: $themeColor;
        }

        ul {
            margin-top: 1rem;
            font-size: 1.15rem;
        }

        ul {
            list-style: none;
            /* Remove default bullets */
        }

        ul li::before {
            content: "\2022";
            /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: $themeColor;
            /* Change the color */
            font-weight: bold;
            /* If you want it to be bold */
            display: inline-block;
            /* Needed to add space between the bullet and the text */
            width: 1em;
            /* Also needed for space (tweak if needed) */
            margin-left: -1em;
            /* Also needed for space (tweak if needed) */
        }
    }

    .square {
        @include bordered;
        // width: 10rem;
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100%;
        flex-flow: column;
        padding: 1rem;

        img {
            height: 3rem;
            margin-top: 0.5rem;
        }
    }

    .square:nth-of-type(2n+1) {
        //  margin: 0 0.5rem 0 0;
        color: #FF8402;
    }

    .square:nth-of-type(2n) {
        // margin: 0 0 0 0.5rem;
        color: #FF8402;
    }


}

.auth-form {
    grid-area: form;
    display: grid;
    grid-template-columns: 25vW;
    grid-template-rows: auto;
    grid-template-areas:
        "details";
    margin: auto;
    align-self: center;

    div {
        grid-area: details;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .details-zone {
        @include bordered;
        grid-area: details;

    }

    .input-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: none;
        border: none;
        padding: 0;
    }

    input {
        border: none;
        border-radius: 5px;
        box-shadow: 0px 1px 5px 1px $shadowColor2;
        width: 15rem;
        padding: 0.5rem;
        margin: 0.2rem 0 1rem 0;
    }

    input[type="submit"] {
        width: 15rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 1rem 0;
        background-color: $themeColor;
        color: white;
    }

    label {
        margin: 0.2rem 0;
    }

    h2 {
        margin-bottom: 2rem;
        color: $themeColor;
    }


}

@media screen and (max-width: 768px) {

    .join-container,
    .auth-form {
        width: 80vw;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0.5rem;
    }

    .details-zone {
        padding: 0.5rem;

        input {
            width: 65vw;
        }
    }
}

@media screen and (min-width: 768px) {

    .descriptions {
        margin-top: -1rem;
    }
}